.btn {
  background: $red;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  border: none;
  outline: none;

  &__background_black {
    background: #000;
    }
}

