.hero {
  background: url("../images/bg/bg.jpg") center center / cover no-repeat;
  position: relative;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: .75;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content-img {

}

.hero__content-text {

}

.hero__content-desc {
font-size: 55px;
color: #fff;
font-family: 'Lifehack-Medium';
line-height: 1;
}

.arrow-down {
  content: "";
  position: absolute;
  width: 29px;
  height: 14px;
  background: url('../images/icons/arrow-scroll.png') center center / cover no-repeat;
  bottom: 10%;
  left: 50%;
}