.title {
  color: $yellow;
	font-size: rem(72px);
  font-family: 'Gagalin-Regular';
  line-height: 1.1;
  margin-bottom: rem(12px);


	&.title_black {
		color: $black;
	}

	&.title_white {
		color: white;
	}
}